// Import a Google Font

// Set your brand colors
$dark: #1E383C;
$grey-dark: #47646F;
$primary: #8EA6B2;
$grey-light: #C3CCD3;
$white: #F6F8FA;

// Update Bulma's global variables
$link: $grey-dark;


// Update some of Bulma's component variables
$body-background-color: $white;
