// Colors
$white: #FFF;
$grey-lighter: #ECF0F3;

// Base
$body-background-color: $grey-lighter;

// Fonts
$family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$body-font-size: 14px;

// Navbar
$navbar-background-color: $white;

// Menu 
$menu-label-color: hsl(0, 0%, 48%);
$menu-label-letter-spacing: 0.3em;
