@charset "utf-8";

@import '../src/base/variables';
@import '../src/base/spacings';
@import '../src/base/flex';
@import '../src/vendor/easy-autocomplete';
@import "bulma";
@import '../src/vendor/tabulator/tabulator_bulma.scss';
@import '../src/vendor/fontawesome.scss';
@import '../src/base/grid';
@import '../src/components/index';


body {
  font-size: 14px;
}

.disable {
  opacity: .3;
  cursor: not-allowed;
}

.img-player {
  object-fit: contain;
}

.w-110p{
  width: 110px;
}
.w-150p{
  width: 150px;
}