.sortable {
  min-height: 40px;
  border: black dotted 1px;
}
.card-roster-small {
  display: none;
  .card-small-infos{
    margin: auto;
    padding-right: .5rem;
  }
}

.sortable {
  .card-roster-small {
    display: block;
    .card-header-title {
      padding: .25rem
    }
  }
  .card-roster-big {
    display: none;
  }
}

